.main {
  margin: 20px;
  max-width: 200px;
  
  .avatar {
    border: solid 1px rgba(#ffff, .15);
    width: 200px;
		height: 200px;
		cursor: pointer;
  }

  .link {
    color: #ffff;
    text-decoration: none;
    font-size: large;
    font-weight: 550;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
	}
	
	.titles {
		margin-top: 1em;
	}
}
