.main {
  .banner {
    width: 100%;
    height: 75vh;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &::before {
      content: '';
      top: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.2) 10%, rgba(#000000, 0.8) 90%);
      border-bottom: solid 1px rgba(#ffff, .15);
      z-index: 1;
      height: inherit;
      width: inherit;
      position: relative;
    }

    .info {
      position: absolute;
      z-index: 2;
      margin: 0 2.3rem;
      padding: 2rem 0;

      .actions {
        margin-top: 1rem;

        button {
          background-color: #ffff;
        }
      }
    }
  }
  .title {
    margin: 0 2.5rem;
    margin-top: 3rem;
  }
}
