.main {
  .banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #1d1d1d;
    border-bottom: solid 1px rgba(#ffff, 0.15);

    .info {
      margin-left: 2rem;

      button {
        margin-top: 2rem;
      }
    }
  }

  .title {
    margin: 0 2.5rem;

    &:nth-child(1) {
      margin-top: 3rem;
    }
  }

  .songList {
    width: 100%;
    padding: 3rem;
  }

  @media (max-width: 767px) {
    .banner {
      justify-content: center;
    }
    .info {
      margin-left: 0;
    }
  }
}
