@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html,
body,
#root {
  padding: 0;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}